/* --------- 
TABLE OF CONTENTS 
    #VARIABLES
    #GLOBALS
        #RESET
        #COLORS
        #TYPOGRAPHY
        #MEDIA
        #HELPERS
    #LAYOUT
        #CONTAINER
        #GRID
    #SECTION
        #HERO
        #PRACTICUM
        #GRADUATES
            #NAMES
            #INDIVIDUAL SECTIONS
        #ABOUT + CREDITS
------------ */

/* VARIABLES */
html {
    --color-text-dark: rgb(25 53 85 / .9);
    --color-text-light: rgb(215 230 239 / .9);
    --color-nma-blue: #39C;
    --color-nma-blue-dark: #069;
    --color-show-blue80: #193F55;
    --color-show-blue60: #2F5D77;
    --color-show-blue40: #5F8FAA;
    --color-show-blue20: #9FC5DA;
    --color-show-blue10: #D8ECF7;
    
    --space-sm: 1em;

    --font-family-sans: "helvetica", sans-serif;
    --font-family-sans:  acumin-pro, Helvetica, Arial, sans-serif;
    --font-family-condensed: acumin-pro-condensed, Helvetica, Arial, sans-serif;
    --font-family-serif: kepler-std-display, Georgia, 'Times New Roman', Times, serif;

    --body-bg: var(--color-show-blue80);
}

/* GLOBAL RESETS */
* {box-sizing: border-box;}
body {margin: 0;}
html, body {height: 100%;}

/* GLOBAL COLORS */
body {
    background-color: var(--body-bg);
    color: var(--color-text-light);
}

/* GLOBAL TYPOGRAPHY */
body {
    font-family: var(--font-family-sans);
    line-height: 1.4;
}

a {
    color: var(--color-text-light);
}

h1, h2, h3 {
    font-family: var(--font-family-serif);
}

/* LAYOUT */
body {
    display: grid;
    grid-template-rows: auto 1fr auto;
}


/* CONTAINER */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 var(--space-sm);
    /* border: 1px solid #000; */
}
/* HEADER */
header {
    padding: var(--space-sm);
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
}

header nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

header a {
    padding: 1em;
}
/* MAIN SECTIONS */
main {
    background: pink;
}
/* SECTIONS ALL */
section {
    padding: 6em 0;
}

/* HERO SECTION */
.hero {
    background-color: var(--color-show-blue80);
    background-image: url(../img/2024-studentshow-bg.jpg);
    background-size: cover;
}

#practicum {
    background-color: var(--color-show-blue60);
}

#graduates {
    background-color: var(--color-show-blue40);
}

.student {
    background-color: var(--color-show-blue20);
    color: var(--color-text-dark);
}

.student:nth-child(even) {
    background-color: var(--color-show-blue10);
}

#about {
    background-color: var(--color-show-blue40);
}

/* FOOTER */
footer {
    background-color: var(--color-show-blue60);
    padding: var(--space-sm);
}